body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
select {
  padding: 24px 48px;
}
label {
  font-weight: 700;
  font-size: large;
}
select,
option {
  font-size: x-large;
  text-indent: 12px;
}
.ol-tooltip {
  position: relative;
  border: 1px solid #d8dde6;
  background-color: white;
}
.ol-map{
  cursor: pointer;
}
.ol-map :active{
  cursor: grab;
}
.ol-tooltip .container{
  padding: 16px;
}
.ol-tooltip h1,.ol-tooltip h3 {
  margin: 0;
}
/* .ol-tooltip::before{
  position: absolute;
  bottom: -20px;
  height: 0px;
  width: 0;
  right: -1.5px;
  border: 10px solid transparent;
  transform: rotateZ(180deg);
  border-bottom-color: #fff;
  content: "";
} */
/* .map-container .ol-layer canvas {
  filter: blur(4px); 
  position: absolute;
  top: 0;
  left: 0;
} */
