body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
select {
  padding: 24px 48px;
}
label {
  font-weight: 700;
  font-size: large;
}
select,
option {
  font-size: x-large;
  text-indent: 12px;
}
.ol-tooltip {
  position: relative;
  border-radius: 32px;
  border: 1px solid #d8dde6;
  background-color: white;
}
.ol-map{
  cursor: pointer;
}
.ol-map :active{
  cursor: grab;
}
.ol-tooltip .container{
  padding: 16px;
}
.ol-tooltip h1,.ol-tooltip h3 {
  margin: 0;
}
